.custom-color {
    background-color: #09012F !important; /* Exemple de couleur */
    color: white;
};

/* Partie avec les cards*/

.card {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.card-img-top {
    object-fit: cover;
    height: 300px;
}
.card-body {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.25rem;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.rating { color: #000; }
.card-custom {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.divider {
    width: 50px;
    height: 4px;
    background-color: #ccc;
    margin: 10px 0;
}

.divider-lg {
    width: 250px;
    height: 4px;
    background-color: #ccc;
    margin: 10px 0;
}