.custom-color {
    background-color: #09012F ; 
    color: white;
}

.btn-custom-color {
    background-color: #09012F ; 
    color: white;
}

.btn-custom-color:hover {
    background-color: #09012fd3; 
    color: #ffffff; 
}

/* Partie avec les cards, modif pour rendre + beau*/

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
}

.card-custom {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.divider {
    width: 50px;
    height: 4px;
    background-color: #ccc;
    margin: 10px 0;
}

.divider-lg {
    width: 250px;
    height: 4px;
    background-color: #ccc;
    margin: 10px 0;
}

.btn-orange {
    background-color: #fd7e14; /* Orange */
    border-color: #fd7e14; 
}